---
import InteractionCard from "@/components/InteractionCard.astro"

interface Props {
  interactions: Array<{
    id: string
    data: {
      title: string
      description: string
      playbackId: string
    }
  }>
}

const { interactions } = Astro.props
---

<div
  class="grid grid-cols-1 items-start gap-x-[var(--container-gutter)] gap-y-10 cols:grid-cols-2"
>
  {
    interactions.map((interaction) => (
      <InteractionCard interaction={interaction.data} />
    ))
  }
</div>
